@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --poppins: 'Poppins', sans-serif;

    --light: #ffffff;
    --purple: #6439FF;
    --background: #e5e0f7;
    --hover: #f9f9f9;
    --light-purple: #CFE8FF;
    --background: #eee;
    --light-grey: lightgray;
    --dark-grey: #3b3737;
    --dark: #03091b;
    --lilac: #9B59B6;
    --light-purple: #3498DB;
    --light-yellow: #FFF2C6;
    --soft-red: #E74C3C;
    --light-soft-red: #FFE0D3;
    --green: #1ABC9C;
}

html {
    overflow-x: hidden;
}

body.dark {
    --light: #0C0C1E;
    --background: #03040a;
    --dark: #FBFBFB;
    --light-grey: #03040a;
}

body {
    background: var(--background);
    overflow-x: hidden;
    font-family: poppins, sans-serif;
    opacity: 1;
    transition: opacity 0.5s ease;
    /* Smooth fade-in effect */
}

.fade-out {
    opacity: 0;
}


/*===================================Add Patient Modal CSS Starts====================================*/

.modal {
    display: none;
    position: fixed;
    z-index: 2100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

.modal-content-addpatient {
    background-color: var(--light);
    margin: 8% auto;
    padding: 40px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 50%;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.modal-content-addpatient h2 {
    color: var(--purple);
    font-size: 2.3rem;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.modal-content-addpatient .addpatientform {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-content-addpatient .form-group {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    width: 100%;
}

.modal-content-addpatient .form-group label {
    padding-right: 30px;
    color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-start;
    font-size: 1rem;
    font-weight: 700;
    width: 10%;
}

.modal-content-addpatient .form-group .input {
    border: 1px solid var(--dark-grey);
    border-radius: 10px;
    padding: 6px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options {
    background-color: var(--light);
    color: var(--dark);
    font-weight: 600;
}

.addpatientclose {
    margin-top: 5px;
    float: right;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
}

.addpatientclose :hover,
.addpatientclose :focus {
    color: var(--soft-red);
    text-decoration: none;
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addpatient {
    margin-top: 20px;
    height: 46px;
    padding: 15px 35px;
    border: 2px solid transparent;
    border-radius: 35px;
    background: var(--purple);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    font-weight: 500;
    font-size: 1.2rem;
    box-shadow: 0 8px 12px rgba(149, 97, 199, 0.15), 0 3px 6px rgba(149, 97, 199, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.addpatient:hover {
    transform: scale(0.95);
    box-shadow: 0 8px 12px rgba(149, 97, 199, 0.15), 0 3px 6px rgba(149, 97, 199, 0.15);
}


/*============================================Add Patient Modal CSS Ends==================================*/




/*==============================================View Modal CSS Starts======================================*/

.modal-content-view {
    background-color: var(--light);
    margin: 12% auto;
    padding: 40px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 50%;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal-content-view h2 {
    color: var(--purple);
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
}

.modal-content-view .patientdetailsviewmodal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-content-view p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.modal-content-view p .viewlabel {
    margin-right: 10px;
    font-size: 1.1rem;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 15%;
    align-self: flex-start;
    /* display: flex;
    width: 400px; */
}

.modal-content-view p span {
    font-size: 1.1rem;
    margin-left: 20px;
    width: 70%;
}

.viewclose {
    margin-top: 5px;
    float: right;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.viewclose:hover,
.viewclose:focus {
    color: var(--soft-red);
    text-decoration: none;
    cursor: pointer;
}

/*======================View Modal CSS Ends=====================*/




/*======================Update Modal CSS Starts=====================*/

.modal-content-edit {
    background-color: var(--light);
    margin: 8% auto;
    padding: 40px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 55%;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal-content-edit h2 {
    color: var(--purple);
    font-size: 2.3rem;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.modal-content-edit .form-group {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.modal-content-edit .form-group label {
    padding-right: 30px;
    padding-left: 20px;
    color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-start;
    font-size: 1rem;
    font-weight: 700;
    width: 10%;
}

.modal-content-edit .form-group .input {
    border: 1px solid var(--dark-grey);
    border-radius: 10px;
    padding: 6px;
    width: 70%;
}


.options {
    background-color: var(--light);
    color: var(--dark);
    font-weight: 600;
}

.editclose {
    margin-top: 5px;
    margin-left: 20px;
    float: right;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
}

.editclose:hover,
.editclose:focus {
    color: var(--soft-red);
    text-decoration: none;
    cursor: pointer;
}

.modal-btn {
    height: 46px;
    padding: 15px 35px;
    margin-top: 10px;
    margin-right: 20px;
    border: 2px solid transparent;
    border-radius: 35px;
    background: var(--purple);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.2rem;
    box-shadow: 0 8px 12px rgba(149, 97, 199, 0.15), 0 3px 6px rgba(149, 97, 199, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.modal-btn:hover {
    transform: scale(0.95);
    box-shadow: 0 8px 12px rgba(149, 97, 199, 0.15), 0 3px 6px rgba(149, 97, 199, 0.15);
}

/*======================Update Modal CSS Ends=====================*/


/*======================Delete Modal CSS Starts=====================*/

.modal-del {
    display: none;
    position: fixed;
    z-index: 2100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content-del {
    background-color: var(--light);
    margin: 20% auto;
    padding: 40px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 50%;
    height: auto;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-content-del p {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 500;
}

.deletemodalbuttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    gap: 10px;
}

.modal-del-btn {
    height: 40px;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 35px;
    background: var(--purple);
    color: var(--light);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-gap: 10px;
    font-weight: 500;
    font-size: 1rem;
    box-shadow: 0 8px 12px rgba(149, 97, 199, 0.15), 0 3px 6px rgba(149, 97, 199, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.modal-del-btn:hover {
    transform: scale(0.95);
    box-shadow: 0 8px 12px rgba(149, 97, 199, 0.15), 0 3px 6px rgba(149, 97, 199, 0.15);
}

.modal-cancel-btn {
    height: 40px;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 35px;
    background: var(--dark-grey);
    color: var(--light);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-gap: 10px;
    font-weight: 500;
    font-size: 1rem;
    box-shadow: 0 8px 12px rgba(149, 97, 199, 0.15), 0 3px 6px rgba(149, 97, 199, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.modal-cancel-btn:hover {
    transform: scale(0.95);
    box-shadow: 0 8px 12px rgba(149, 97, 199, 0.15), 0 3px 6px rgba(149, 97, 199, 0.15);
}

/*==================================Delete Modal CSS Ends=================================*/



/*==================================Assign Tests Modal CSS Starts=================================*/
.modal {
    display: none;
    position: fixed;
    z-index: 2100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    /* Overlay effect */
}

.modal-content {
    background-color: var(--light);
    margin: 2% auto;
    padding: 60px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 75%;
    height: auto;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.assigntestclose {
    margin-top: 5px;
    margin-right: 10px;
    float: right;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
}

.assigntestclose:hover,
.assigntestclose:focus {
    color: var(--soft-red);
    text-decoration: none;
    cursor: pointer;
}

.testscontainer {
    /* background-color: var(--light); */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testscontainer h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 700;
    color: var(--purple);
}

.testscontainer .patientInfo {
    padding: 20px 60px;
    background-color: var(--background);
    border-radius: 10px;
    margin-bottom: 15px;
}

.testscontainer .patientInfo p {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testscontainer .patientInfo p .testlabel {
    color: var(--dark);
    font-size: 1.1rem;
    font-weight: 700;
    margin-left: 80px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-start;
    width: 15%;
}

.testscontainer .patientInfo p span {
    width: 70%;
}

.testscontainer .test-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.testscontainer .test {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    padding: 16px;
    border-radius: 10px;
    gap: 10px;
    /* width: 100%; */
}

.testscontainer .test .testslabel {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.testscontainer .test p {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
    font-size: 1.2rem;
}

.testscontainer input[type="checkbox"] {
    transform: scale(2);
    margin-right: 15px;
    margin-left: 15px;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
}

.buttons {
    margin-top: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.buttons .savebtn {
    padding: 10px 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .09rem;
    cursor: pointer;
    border-radius: 25px;
    border: 2px solid var(--purple);
    background-color: var(--purple);
    color: var(--light);
}

.buttons .savebtn:hover {
    background-color: var(--light);
    color: var(--purple);
}

.testscontainer .cancelbtn {
    padding: 10px 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .09rem;
    cursor: pointer;
    border-radius: 25px;
    border: 2px solid var(--dark-grey);
    background-color: var(--dark-grey);
    color: var(--light);
}

.testscontainer .cancelbtn:hover {
    background-color: var(--light);
    color: var(--dark-grey);
}

/*==================================Assign Tests Modal CSS Ends================================*/


/*======================================Side Menu CSS Starts===================================*/

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: var(--light);
    z-index: 2000;
    font-family: var(--poppins);
    transition: width .3s ease;
    overflow-x: hidden;
    scrollbar-width: none;
    transform: translateX(0);
}

#sidebar .sitename {
    font-size: 34px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--purple);
    position: sticky;
    top: 10px;
    background: var(--light);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
    margin-left: 0;
}

#sidebar .site-icon {
    min-width: 70px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: var(--purple);
    font-weight: 600;
    font-size: 2rem;
}

#sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
}

#sidebar .side-menu li {
    height: 65px;
    background: transparent;
    margin-left: 6px;
    border-radius: 15px 0 0 15px;
    padding: 5px;
    margin-top: 20px;
}

#sidebar .side-menu li.active {
    background: var(--background);
    position: relative;
}

#sidebar .side-menu li.active::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--background);
    z-index: -1;
}

#sidebar .side-menu li.active::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--background);
    z-index: -1;
}

#sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 15px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 600ms ease-out;
}

#sidebar .side-menu li a:hover {
    color: var(--purple);
    margin-left: .5rem;
}

#sidebar .side-menu li a .side-menu-icons {
    min-width: calc(80px - ((4px + 6px) * 2));
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--dark);
}

#sidebar .side-menu li.active a .side-menu-icons {
    color: var(--purple);
}

#sidebar .side-menu li.active a {
    color: var(--purple);
}

#sidebar .side-menu li.active a:hover {
    margin-left: 0;
}

#sidebar .side-menu li a span {
    font-size: 1.3rem;
    font-weight: 600;
}


/*=================Sidebar Hide CSS Starts=================*/

#sidebar.hide {
    width: 70px;
    transform: translateX(-100% - 250px);
}

#sidebar.hide .side-menu li a {
    width: calc(68px - (4px * 2));
    transition: width .3s ease;
}

#sidebar.hide .side-menu li a:hover {
    margin-left: 0;
}

.sidebar-no-transition {
    transition: none !important;
}

#sidebar.preload {
    visibility: hidden;
}

#content {
    position: relative;
    width: calc(100% - 250px);
    left: 250px;
    transition: margin-left .3s ease;
}

#sidebar.hide~#content {
    width: calc(100% - 60px);
    left: 60px;
}


/*=================Sidebar Hide CSS Ends=================*/
/*==============================================Side Menu CSS Ends===================================================*/

